__pycache__/
*.py[cod]
.nfs*
build/
dist/
*.egg-info/
site/
venv/
.vscode/
*.ipynb_checkpoints
examples/**/MNIST
examples/**/mnist_m
examples/**/mnist_m.tar.gz
examples/**/office31.tar.gz
examples/**/office31
examples/**/officehome_resized.tar.gz
examples/**/officehome
examples/**/saved_models
examples/**/lightning_logs
zzz_pytorch_adapt_dataset_test_folder
.env