__pycache__/
*.py[cod]
.nfs*
build/
dist/
*.egg-info/
site/
venv/
.vscode/
*.ipynb_checkpoints
examples/**/MNIST
examples/**/mnist_m
examples/**/mnist_m.tar.gz
examples/**/saved_models
examples/**/lightning_logs